$grey: #abb4b9;
$background-grey: #e1e1e6;
$background-blue: #283c50;

$button-primary: #3296d7;
$button-primary-hover: #2a80b9;

$button-secondary: #5f7887;
$button-secondary-hover: #50636e;

$breakpoint-lg: 768px;
$breakpoint-sm: 576px;
